body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.fadePageIn {
  animation-duration: 200ms;
  animation-name: fadein;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ms-bezier {
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadein {
  from {
    translate: 0 40vh;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}
